// Header Animations

@mixin show-from($delay) {
  animation: show-from .5s (.5 + .25s * $delay) both;
}
#header {
  .image         { @include show-from(0); --show-from: scale(3); }
  .box__title    { @include show-from(0); }
  .box__subtitle { @include show-from(1); }
  .md            { @include show-from(2); }
}


// Sections

:root {
  --grayscale: sepia(1);
}
