@font-face {
    font-family: "Oxygen";
    src: url("/fonts/oxygen.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Ace Sans";
    src: url("/fonts/ace-sans.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
