// Hero Animations

@mixin show-from($delay) {
  animation: show-from .5s (.25 + .125s * $delay) both;
}
#hero {
  .img        { @include show-from(0); --show-from: scale(3); }
  .box__title { @include show-from(0); }
  .box__sub   { @include show-from(1); }
  .md         { @include show-from(2); }
  .box__btn   { @include show-from(3); }
}


// Sections

:root {
  --grayscale: sepia(1);
}
